body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.Layout-cell .Label-emptyLabel:last-child {
  display: none;
}

/* .Layout-cell .Label-emptyLabel:last-child {
  height: 48px !important;
  position: relative;
} */

.Layout-cell .Label-emptyLabel:last-child::after {
  content: "";
}

.Layout-timeScaleContainer tr {
  vertical-align: baseline;
}

.first_indicator {
  height: 10px;
}

.appointment:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
